# macOS
.DS_Store

# Xcode
xcuserdata/
DerivedData/
*.xcscmblueprint

# Swift Package Manager
.build/
**/.build/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/Packages

# Environment
.env
.netrc

# Python
__pycache__/
